$font-size-main: 16px;
$fontfam-main: 'Roboto', sans-serif;

$font-fam2: 'Quicksand', sans-serif;
$font-fam3: 'Nunito Sans', sans-serif;

$color-main: #16133D;
$bg-color-body: #E5E5E5;
$bg-color-cont:#FFFFFF;
$border-col: #E4E4E4;
$col-hover: #3DB370;